<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cogether.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89662D0B1EC5989F004768FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89662D1F1EC5989F004768FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89662D2A1EC5989F004768FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
